<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https: //fonts.googleapis.com/css2? family= Bowlby+One & display=swap" rel="stylesheet">

</head>
<body>
        <%- include("./partials/header.ejs")  %> 
    <main>
        <div class="detalhes">
            <h3>Numero <%= pokemon[0].id %></h3>
            <h1><%= pokemon[0].nome %></h1> 
            <img src="<%= pokemon[0].imagem %>" alt="Imagen de pokemon <%=pokemon[0].nome %> ">
            <p><%= pokemon[0].tipo %></p> 
            <p><%= pokemon[0].altura %></p> 
            <p><%= pokemon[0].peso %></p> 
            <p><%= pokemon[0].categoria %></p> 
            <p><%= pokemon[0].habilidade %></p>
            <p><%= pokemon[0].descricao %></p> 
        </div>
    </main>
    <%- include("./partials/footer.ejs") %>
</body>
</html>